
.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stars i {
    color: #fff;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
    text-shadow: 1px 1px 0.2px black;
    cursor: pointer;
  }
  .active {
    color: #ffb175 !important;
    transform: scale(1.2) !important;
  }